<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Media Gallery</title>
	<link rel="stylesheet" href="/static/style.css">
	<!-- Favicon -->
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
	<div class="header">
		<h3 class="header-title"><a href='/'>Media Gallery</a></h3>
		<a class="header-item" id="header-item-folder">Folders</a>
		<a class="header-item" id="header-item-video">Video</a>
		<a class="header-item" id="header-item-edit-tags">Edit Tags</a>
	</div>

	<div class="filter-container">
		<div class="filter-header">Path</div>
		<div class="filter-values" id="filter-path"></div>
		<div class="filter-header">All Tags</div>
		<div class="filter-values" id="filter-all-tags"></div>
		<div class="filter-header">Active Tags</div>
		<div class="filter-values" id="filter-active-tags"></div>
	</div>
	<div class="stats" id="stats">Loading...</div>

	<div class="gallery-container" id="gallery">
		<div class="loading">Loading images...</div>
	</div>

	<!-- Toast -->
	<div id="toast-container">
		<div id="first-toast"></div>
	</div>

	<!-- Select Mode -->
	<div class="select-mode-info-bar" id="select-mode-info-bar">
		<div class="select-mode-info">
			Selected <span id="select-mode-media-count">0</span> items
		</div>
		<div class="select-mode-info-buttons">
			<div class="select-mode-info">
				<button id='select-mode-deselect-all'>Deselect All</button>
			</div>
			<div class="select-mode-info">
				<button id='select-mode-select-all'>Select All</button>
			</div>
			<div class="select-mode-info">
				<button id='select-mode-open-tags'>Tag Selected</button>
			</div>
		</div>
	</div>

	<div class="select-mode-button">
		<input type="checkbox" id="select-mode-checkbox" class="select-mode-checkbox">
		<label for="select-mode-checkbox">
			<div class="select-mode-text">Select Mode</div>
		</label>
	</div>
	
	<a id="scroll-to-top-button">
		Top
	</a>


	<!-- Input Prompt -->
	<div class="input-overlay" id="input-overlay">
		<div class="input-prompt">
			<div class="input-info">
				<h3 id="input-info-header"></h3>
			</div>
			<div class="input-info">
				<input id='input-input'>
			</div>
			<div class="input-info" id="input-error">
			</div>
			<div class="input-action">
				<button id='input-action-cancel'>Cancel</button>
				<button id='input-action-confirm'>Confirm</button>
			</div>
		</div>
	</div>

	<!-- Lightbox -->
	<div class="lightbox" id="lightbox">
		<button class="lightbox-close" id="lightbox-close">&times;</button>

		<a id="lightbox-prev" class="lightbox-nav lightbox-prev" aria-label="Prev" role="button" title="Previous">
			<svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.86,2.49A1,1,0,0,0,19,2H10a1,1,0,0,0-.87.51l-5,9s0,.07,0,.11a1.39,1.39,0,0,0-.06.19.91.91,0,0,0,0,.38,1.39,1.39,0,0,0,.06.19s0,.07,0,.11l5,9A1,1,0,0,0,10,22h9a1,1,0,0,0,.86-.49,1,1,0,0,0,0-1L15.14,12l4.73-8.51A1,1,0,0,0,19.86,2.49Z"/>
			</svg>
		</a>
		<a id="lightbox-next" class="lightbox-nav lightbox-next" aria-label="Next" role="button" title="Next">
			<svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.91,11.62s0-.07,0-.11l-5-9A1,1,0,0,0,14,2H5a1,1,0,0,0-.86.49,1,1,0,0,0,0,1L8.86,12,4.13,20.51a1,1,0,0,0,0,1A1,1,0,0,0,5,22h9a1,1,0,0,0,.87-.51l5-9s0-.07,0-.11a1.39,1.39,0,0,0,.06-.19.91.91,0,0,0,0-.38A1.39,1.39,0,0,0,19.91,11.62Z"/>
			</svg>
		</a>

		<div id="lightbox-media-container">
			<img id="lightbox-img" alt="">
			<video id="lightbox-vid" controls></video>
		</div>

		<div id="lightbox-button-row">
			<a id="lightbox-button-counter-clockwise" aria-label="Rotate Left" role="button" title="Rotate Image Left">
				<svg viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path d="M14,28V16a2.0023,2.0023,0,0,1,2-2H28a2.0023,2.0023,0,0,1,2,2V28a2.0023,2.0023,0,0,1-2,2H16A2.0023,2.0023,0,0,1,14,28Z" transform="translate(0 0)"/>
					<path d="M2,15l1.41-1.41L6,16.17V11a7.0078,7.0078,0,0,1,7-7h5V6H13a5.0057,5.0057,0,0,0-5,5v5.17l2.59-2.58L12,15,7,20Z" transform="translate(0 0)"/>
				</svg>
			</a>
			<a id="lightbox-button-clockwise" aria-label="Rotate Right" role="button" title="Rotate Image Right">
				<svg viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path d="M16,30H4a2.0023,2.0023,0,0,1-2-2V16a2.0023,2.0023,0,0,1,2-2H16a2.0023,2.0023,0,0,1,2,2V28A2.0023,2.0023,0,0,1,16,30Z" transform="translate(0)"/>
					<path d="M30,15l-1.41-1.41L26,16.17V11a7.0078,7.0078,0,0,0-7-7H14V6h5a5.0057,5.0057,0,0,1,5,5v5.17l-2.59-2.58L20,15l5,5Z" transform="translate(0)"/>
				</svg>
			</a>
			<a id="lightbox-button-info-panel" role="button" tile="Show Media Info">
				<svg viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path d="M8 16A8 8 0 108 0a8 8 0 000 16zm0-9a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 018 7zm0-3a1 1 0 000 2h.007a1 1 0 000-2H8z" fill-rule="evenodd"/>
				</svg>
			</a>
		</div>
	</div>

	<!-- Info Panel -->
	<div class="info-panel" id="info-panel">
		<div class="info-header">
			<h2>Media Information</h2>
			<button class="info-close" id="info-panel-close">×</button>
		</div>
		<div class="info-content" id="info-content">
		</div>
	</div>

	<script type="module" src="/static/app.js"></script>
</body>
</html>
