<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Media Gallery</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div class="header">
		<h1>Media Gallery</h1>
		<p id="filter-path"></p>
	</div>

	<div class="stats" id="stats">Loading...</div>

	<div class="gallery-container" id="gallery">
		<div class="loading">Loading images...</div>
	</div>

	<!-- Select Mode -->
	<div class="select-mode-info-bar" id="select-mode-info-bar">
		<div class="select-mode-info">
			Selected <span id="select-mode-media-count">0</span> items
		</div>
		<div class="select-mode-info-buttons">
			<div class="select-mode-info">
				<button>Deselect All</button>
			</div>
			<div class="select-mode-info">
				<button>Select All</button>
			</div>
			<div class="select-mode-info">
				<button onclick='openTagPrompt()'>Tag Selected</button>
			</div>
		</div>
	</div>

	<div class="select-mode-button">
		<input type="checkbox" id="select-mode-checkbox" class="select-mode-checkbox">
		<label for="select-mode-checkbox">
			<div class="select-mode-text">Select Mode</div>
		</label>
	</div>
	

	<!-- Tag Prompt -->
	<div class="tag-overlay" id="tag-overlay">
		<div class="tag-prompt">
			<div class="tag-info">
				<h3>Add Tags</h3>
			</div>
			<div class="tag-info">
				<input id='tag-input' placeholder="Tag name">
			</div>
			<div class="tag-action">
				<button onclick="closeTagPrompt()">Cancel</button>
				<button onclick="addTag()">Confirm</button>
			</div>
		</div>
	</div>

	<!-- Lightbox -->
	<div class="lightbox" id="lightbox">
		<button class="lightbox-close" onclick="closeLightbox()">&times;</button>

		<button class="lightbox-nav lightbox-prev" onclick="prevMedia()">‹</button>
		<button class="lightbox-nav lightbox-next" onclick="nextMedia()">›</button>

		<div id="lightbox-media-container">
			<img id="lightbox-img" alt="">
			<video id="lightbox-vid" controls></video>
		</div>

		<div id="lightbox-button-row">
			<a onclick="rotate(-90); return false;" aria-label="Rotate Left" role="button" title="Rotate Image Left">
				<svg viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path d="M14,28V16a2.0023,2.0023,0,0,1,2-2H28a2.0023,2.0023,0,0,1,2,2V28a2.0023,2.0023,0,0,1-2,2H16A2.0023,2.0023,0,0,1,14,28Z" transform="translate(0 0)"/>
					<path d="M2,15l1.41-1.41L6,16.17V11a7.0078,7.0078,0,0,1,7-7h5V6H13a5.0057,5.0057,0,0,0-5,5v5.17l2.59-2.58L12,15,7,20Z" transform="translate(0 0)"/>
				</svg>
			</a>
			<a onclick="rotate(90); return false;" aria-label="Rotate Right" role="button" title="Rotate Image Right">
				<svg viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path d="M16,30H4a2.0023,2.0023,0,0,1-2-2V16a2.0023,2.0023,0,0,1,2-2H16a2.0023,2.0023,0,0,1,2,2V28A2.0023,2.0023,0,0,1,16,30Z" transform="translate(0)"/>
					<path d="M30,15l-1.41-1.41L26,16.17V11a7.0078,7.0078,0,0,0-7-7H14V6h5a5.0057,5.0057,0,0,1,5,5v5.17l-2.59-2.58L20,15l5,5Z" transform="translate(0)"/>
				</svg>
			</a>
			<a onclick="toggleInfoPanel()" id="info-button" role="button" tile="Show Media Info">
				<svg viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path d="M8 16A8 8 0 108 0a8 8 0 000 16zm0-9a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 018 7zm0-3a1 1 0 000 2h.007a1 1 0 000-2H8z" fill-rule="evenodd"/>
				</svg>
			</a>
		</div>
	</div>

	<!-- Info Panel -->
	<div class="info-panel" id="info-panel">
		<div class="info-header">
			<h2>Media Information</h2>
			<button class="info-close" onclick="closeInfoPanel()">×</button>
		</div>
		<div class="info-content" id="info-content">
		</div>
	</div>

    <script src="/static/app.js"></script>
</body>
</html>
